{%extends "base.html"%}

{%block titulo%}
   Licencias y permisos
{%endblock%}

{% block contenido_que_cambia %}

<h1>TEMPORALES UNO A Certifica que el (la) colaborador (a) {{licencias_y_permisos.nombre}}...</h1>
<h2>identificada con cedula numero {{licencias_y_permisos.Cedula}}</h2>
<h2>desempeñando el cargo de {{licencias_y_permisos.cargo}}</h2>
<h2>la fecha de permiso esta es {{licencias_y_permisos.Fecha_Permiso}}</h2>
<h2>se ausenta un total de: {{licencias_y_permisos.Total_horas}}</h2>
<h2>El motivo de la solicitud es {{licencias_y_permisos.Motivo_Permiso}}</h2>
<h2>Recuerde que el jefe directo firma</h2>  

{%endblock %}