{%extends "base.html"%}

{%block titulo%}
   Licencias y permisos
{%endblock%}

{% block contenido_que_cambia %}
<div class="card" style="width: 30rem;">
   <img src="http://jeffersonaguirre.weebly.com/uploads/7/4/9/7/74979015/descarga_orig.jpg" class="card-img-top" alt="...">
   <div class="card-body">
     <p class="card-text">
      TEMPORALES UNO A genera la licencia para el (a) colaborador (a): {{licencias_y_permisos.nombre}},
      identificada con numero cedula:  {{licencias_y_permisos.Cedula}}.
      Que desempeñando el cargo de: {{licencias_y_permisos.cargo}}.
      la fecha de permiso es el dia: {{licencias_y_permisos.Fecha_Permiso}},
      Se ausenta un total de: {{licencias_y_permisos.Total_horas}}.
      El motivo de la solicitud es por: {{licencias_y_permisos.Motivo_Permiso}}
   </div>
 </div>
 

{%endblock %}